@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root{
	font-family: "Quicksand", sans-serif;
  font-size:14px;
}
*, ::before, ::after{
	margin:0;
}
a{
	color:#43C6DB;
	text-decoration: none;	
}
ul{
	list-style-type: none;	
}
h1,h2,h3,h4,h5,h6{
	color: #23D962;
	font-weight:400
}
h1{
	font-size:65px;	
}
p{
	color:#fff;
	font-size:16px;
}
body{
  background:#030c15;
  color:#fff;
}
header, #headerWrap, #navList, img{
	width:100%;	
}
header{
	background:#021323;
	padding:13px;
	box-sizing: border-box;			
}
input{
	height: 25px;
	margin-top:5px;
	border-radius: 5px;
	border: none;
	width:100%;
	font-family:"Quicksand";
	font-weight: bold;
	font-size: 16px;
	padding-left:5px;
}
#headerWrap{
	display:grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
	align-items: center;
	gap:35px;
}
#headerWrap #siteLogo{
	font-size:25px;
}
#siteLogo img{
	max-width: 350px;
}
#siteLogo a{
	color:#1A1A1A
}
.searchWrapper{
	display:flex;
	justify-content: center;
	width: 100%;
	border:1px solid #23D962;
}
.searchWrapper form{
	width:100%;
}
.searchWrapper input{
	background: #030c15;
	color:#fff;
	margin: 0;
	border-radius:0;
	box-sizing: border-box;
	border-left:1px solid#23D962
}
.searchWrapper button{
	background:#030c15;
	border:none;
	color:#fff;
}
#navList{
	display:flex;	
	gap:20px;
	list-style-type:none;
	align-items:center;
	padding-left:0;
}
.navListLI{
	display:flex;
  white-space: nowrap;	
	cursor: pointer;
	color:#3B2F40;
}
#navListRight{
	display:flex;
	align-items: center;
	gap:30px;
	white-space: nowrap;
	padding-left:0;
}
.navLinkBtn{
	cursor: pointer;
	border-radius: 20px;
	color:#Fff;
}

#navigation {
	display:flex;	
	justify-content: center;
	align-items: center;
	font-size:16px;
	margin-top:25px;
}
.navLink{
	display:flex;
	align-items: center;
	color:#fff;
	padding:6px;
	border-radius:10px;
	
}
.navLink:hover, .navLinkBtn:hover{
	color:#ECF0F1;
	padding:6px;
	border-radius:10px;
}
.formWrapper, .formLeft, .formRight, input-group {
	display:flex;
}
.formLeft, .formRight{
	flex-direction: column;		
	font-size:26px;
	width:100%;
}
.formLeft{
	max-width:350px;
}
.formWrapper{
	flex-direction: column;
	align-items: center;
	max-width: 950px;
	margin:0 auto;	
	gap: 35px;
}
.loginForm .submitBtn:hover {
	background-color: #3FC1C9;
	color: #1A1A1A;
}
.formWrapper h2{
	font-size: 35px;	
}
input-group{
	flex-direction: column;
	margin-bottom:15px;
	color:#fff;
}
.loginForm{
	margin-top:10px;
	font-size:16px;	
}
p.formText{
	font-size: 17px;	
}
.btn-primary{
	display:flex;
	justify-content: center;
	align-items: center;
	padding:5px 20px;
	background:#03C8FA;
  color:#1A1A1A;
	border-radius: 5px;
	font-weight:300;
	cursor:pointer;
	border:none;	
	text-transform: uppercase;
	font-size:19px;
	width: 150px;
}
#viewAsGuestLink{
	color:#03C8FA;
}
.btn-primary:hover{
	background:#17A68C;
}

.deleteAccount {
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size:12px;
  width:100%;
}
.deleteAccount .danger{

	color:#fff;
	border-radius: 20px;
	padding:10px;
	font-size:12px;
	cursor: pointer;
	border: 1px solid rgb(181, 3, 3);
  background: rgba(171, 0, 0, 0.6);
}
.deleteAccount .danger:hover{
	border:1px solid rgb(181, 3, 3);
	background:rgba(218, 56, 56, 0.6);
}
.deleteAccount, .deleteAccount button {
    font-size:14px;  
}
.inputGroup {
  display:flex;
	flex-direction: column;
  margin-bottom:25px;
	align-items: flex-start;
  width:100%;
	color:#737373;
  border-radius: 15px;
}
.inputGroup label{
	display:flex;
	font-size:19px;
	font-weight:300;
	color:#fff;
}
.inputIcons{
	display:flex;
	align-items: flex-end;
	gap:25px;
	width:100%;	  
	background:#072d4e;
}
.inputIcons label{
	white-space: nowrap;
}
.inputGroup input, .inputGroup textarea{
  background:none;
  border:none;
	color:#F4F4F9;
}
.inputGroup input{
	display:flex;
	align-items: center;
  height:30px;
	width:100%;
	margin-right:15px;
	color:#fff;
}
.inputGroup textarea{
	width: 100%;
}
.dashboardHeadRight{
	display: flex;
	align-items:center;
	gap:6px;
}
#viewAsGuestLink{
	background:none;
	padding:0;
	border-radius:0;
	border-bottom:1px solid transparent;
}
#viewAsGuestLink:hover{
	border-bottom:1px solid #fff;
}
.formBottom {
  display: flex;
  align-items: center;  
  justify-content:space-between;
}
.forgotPassword{
  font-size:14px;
}

.homeSection {
  display:flex;
  flex-direction:column;
  align-items:center;  
}
.sectionWrap{
	width:100%;
	margin:0 auto;
	max-width: 1200px;
}

.hamburger, #mobileNav {
  display:none;
}

.selection {
  display: flex;
  flex-direction:column;
  color:#fff;
  margin-top:10px;
}
.selection .selectionGroup{
  display: flex;
  align-items: center;
	width:75px;	
}
.selectionGroup input{
	display:flex;
}
.dashboardResultsColWrap {
  display:grid;
  grid-template-columns: 1fr 1fr;
	gap:35px;
  width:100%;
}
#headerWrap, #footerWrap, #profileWrapper {
  display:flex;
  max-width:1600px;
  margin:0 auto;
}
#footerWrap{
  flex-direction: column;
  margin-top:65px;
}
#footerTop{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  justify-content: space-between;
  
}
.footLinkList{
  padding-left:0;  
}
.footLinkList li{
  padding:10px 0
}
#copyright{
  display:flex;
  justify-content: space-between;  
  padding:25px 0;
}
footer{
	padding:35px 0;
	background:#021323;
}