@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root{
	font-family: "Quicksand", sans-serif;
  font-size:14px;
}
*, ::before, ::after{
	margin:0;
}
a{
	color:#43C6DB;
	text-decoration: none;	
}
ul{
	list-style-type: none;	
}
h1,h2,h3,h4,h5,h6{
	color: #23D962;
}
p{
	color:#fff;
}
body{
  background:#030c15;
  color:#fff;
}
header, #headerWrapper, #navList, img{
	width:100%;	
}
header{
	background:#118C46;
	padding:13px;
	box-sizing: border-box;		
	margin-bottom:15px;	
}
input{
	height: 25px;
	margin-top:5px;
	border-radius: 5px;
	border: none;
	width:100%;
	font-family:"Quicksand";
	font-weight: bold;
	font-size: 16px;
	padding-left:5px;
}
#headerWrapper{
	display:grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
	align-items: center;
	gap:35px;
}
#headerWrapper #siteLogo{
	font-size:25px;
}
#siteLogo a{
	color:#1A1A1A
}
.searchWrapper{
	display:flex;
	justify-content: center;
	width: 100%;
	border-bottom:1px solid #fff;
}
.searchWrapper form{
	width:100%;
}
.searchWrapper input{
	background: none;
	color:#fff;
}
.searchWrapper button{
	background:none;
	border:none;
	color:#fff;
}
#navList{
	display:flex;	
	gap:20px;
	list-style-type:none;
	align-items:center;
	padding-left:0;
}
.navListLI{
	display:flex;
  white-space: nowrap;	
	cursor: pointer;
	color:#3B2F40;
}
#navListRight{
	display:flex;
	align-items: center;
	gap:30px;
	white-space: nowrap;
	padding-left:0;
}
.navLinkBtn{
	cursor: pointer;
	border-radius: 20px;
	color:#Fff;
}

#navigation {
	display:flex;	
	justify-content: center;
	align-items: center;
	font-size:16px;	
}
.navLink{
	display:flex;
	align-items: center;
	color:#fff;
	padding:6px;
	border-radius:10px;
	
}
.navLink:hover, .navLinkBtn:hover{
	color:#ECF0F1;
	padding:6px;
	border-radius:10px;
}
.formWrapper, .formLeft, .formRight, input-group {
	display:flex;
}
.formLeft, .formRight{
	flex-direction: column;		
	font-size:26px;
	width:100%;
}
.formLeft{
	max-width:350px;
}
.formWrapper{
	flex-direction: column;
	align-items: center;
	max-width: 950px;
	margin:0 auto;	
	gap: 35px;
}
.loginForm .submitBtn {
	background-color: #D72638; /* Crimson */
	color: #fff;
}

.loginForm .submitBtn:hover {
	background-color: #3FC1C9;
	color: #1A1A1A;
}
.formWrapper h2{
	font-size: 35px;	
}
input-group{
	flex-direction: column;
	margin-bottom:15px;
	color:#fff;
}
.loginForm{
	margin-top:10px;
	font-size:16px;	
}
p.formText{
	font-size: 17px;	
}
.profile{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin:0 auto;
	border-radius: 35px;
}
.profileHeader {
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap:35px;
  text-transform: uppercase;
  font-weight: bold;
	width:100%;
	margin:0 auto;
}
.profileHeader, .profileStory, .profileWrapper{
	max-width: 1000px;
}
.profileHeader #profileName{
	  font-size:55px;
}
.profileHeader p{
	text-align: center;
	padding:35px 0;
	margin-top:0;	
}
.profileHeadLeft{
	display:flex;
	align-items: center;	
	gap:15px;
}
.profileHeadRight a{
	display:block;
	padding:10px 20px;
	background:#03C8FA;
  color:#1A1A1A;
	border-radius: 35px;
	font-weight:300;
	letter-spacing: 1.2px;
	cursor:pointer;
}
.btn-primary{
	background:none;
	border:none;
	text-transform: uppercase;
	padding:6px 15px;
	color:#0D6BA6;
}
#viewAsGuestLink{
	color:#03C8FA;
}
.btn-primary:hover{
	background:#23D962;
}
.profileWrapper {
  display:flex;
	flex-direction: column;	
  justify-content: space-between;
	width:100%;
  margin:0 auto;
  font-size:16px;
	background:#082640;
	border:1px solid #17A68C;
	padding:10px;
	border-radius:10px
}
.profileSidebar{
  display: flex;
	justify-content: center;
  line-height:1.9;

}
.profileSidebar div{
	padding:5px 20px;
	margin-bottom:20px;
	font-weight: 300;
	cursor:pointer;
}
.profileSidebar div:hover{
	background-color:#118C46;
	color:#fff;
}
.profileSidebar div.active{
	background-color:#118C46;
	color:#ECF0F1;
}
.resultsSection{  
  width:100%;	
	margin:0 auto;	
}
.profileResults.active{
  display: flex;	
	flex-direction: column;
	align-items: center;
	gap:20px;
}
.profileInnerHead{
	text-align: center;
}
.profileResults{
  display: none;
	padding:25px;
}

.profileStory {
	display:flex;
	flex-direction: column;
	font-size:19px;
	line-height: 1.6;
  margin-bottom:20px;
	width:100%;
	margin:0 auto;
	padding-bottom:15px;
}
.profileWrapper h2{
	width:100%;
}
#profileAvatar {
  cursor:pointer;
}
#dashboardAvatar {
  max-width:100px;
  max-height: 200px;
  border-radius: 50%;  
}
.deleteAccount {
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size:12px;
  width:100%;
}
.deleteAccount .danger{

	color:#fff;
	border-radius: 20px;
	padding:10px;
	font-size:12px;
	cursor: pointer;
	border: 1px solid rgb(181, 3, 3);
  background: rgba(171, 0, 0, 0.6);
}
.deleteAccount .danger:hover{
	border:1px solid rgb(181, 3, 3);
	background:rgba(218, 56, 56, 0.6);
}
.deleteAccount, .deleteAccount button {
    font-size:14px;  
}
.inputGroup {
  display:flex;
	flex-direction: column;
  justify-content: space-between;
	align-items: flex-start;
  width:100%;
	padding:15px 20px;
	max-width: 1050px;
	color:#737373;
}
.inputGroup label{
	font-size:23px;
	font-weight:300;
	color:#fff;
}
.inputIcons{
	display:flex;
	align-items: flex-end;
	gap:25px;
	width:100%;	  
	border-bottom:1px solid #024784;	
}
.inputIcons label{
	white-space: nowrap;
}
.inputGroup input, .inputGroup textarea{
  background:none;
  border:none;
	color:#F4F4F9;
}
.inputGroup input{
	display:flex;
	align-items: center;
  height:30px;
	width:100%;
	margin-right:15px;
	color:#fff;
}
.inputGroup textarea{
	width: 100%;
}
.profileHeadRight{
	display: flex;
	align-items:center;
	gap:6px;
}
#viewAsGuestLink{
	background:none;
	padding:0;
	border-radius:0;
	border-bottom:1px solid transparent;
}
#viewAsGuestLink:hover{
	border-bottom:1px solid #fff;
}
.formBottom {
  display: flex;
  align-items: center;  
  justify-content:space-between;
}
.forgotPassword{
  font-size:14px;
}

.homeSection {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:65px 0;
}