@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root{
	font-family: "Quicksand", sans-serif;
  font-size:14px;
}
*, ::before, ::after{
	margin:0;
}
a{
	color:#848585;
	text-decoration: none;	
}
ul{
	list-style-type: none;	
}
h1,h2,h3,h4,h5,h6{
	color:#F2505D
}
p{
	color:#fff;
}

body{
  background:#193344;
  color:#fff;
}
header, #headerWrapper, #navList, img{
	width:100%;	
}
header{
	background:#2651A6;
	padding:13px;
	box-sizing: border-box;		
	margin-bottom:15px;	
}
#headerWrapper{
	display:grid;
  grid-template-columns: 0.5fr 0.6fr;
	align-items: center;
}
#headerWrapper #siteLogo{
	font-size:25px;
}
#navList{
	display:flex;	
	gap:20px;
	list-style-type:none;
	align-items:center;
	padding-left:0;
}
.navListLI{
	cursor: pointer;
}
#navListRight{
	display:flex;	
	gap:30px;
	white-space: nowrap;
	padding-left:0;
}
.navLinkBtn{
		background-color:#FFCE87;
	cursor: pointer;
	padding:10px 20px;
	border-radius: 20px;
}
#navigation {
	display:flex;	
	font-size:16px;	
}
.navLink{
	color:#fff;
	padding:6px;
	border-radius:10px;
}
.navLink:hover{
	color:#F89911;
}
.formWrapper, .formLeft, .formRight, input-group {
	display:flex;
}
.formLeft, .formRight{
	flex-direction: column;		
	font-size:26px;	
}
.formWrapper{
	justify-content: center;
	gap:25px;
}
input-group{
	display:flex;
	flex-direction: column;
	margin-bottom:15px;
	color:#fff;
}
.profileHeader {
  font-size:55px;
  text-transform: uppercase;
  font-weight: bold;
}
.profileHeader p{
	text-align: center;
	padding:35px 0;
	margin-top:0;
}
.profileWrapper {
  display:flex;
  justify-content: space-between;
  max-width:1800px;
  margin:0 auto;
  font-size:21px;
	background:#146499;	
	border-radius: 10px;
	
}
.profileSidebar{
  display: flex;
  flex-direction: column;
  line-height:1.9;
  width:15%;
	background:#593F19;
	border-radius:10px 0 0 10px;	
	border-right:1px solid #C0C0C0
}
.profileSidebar a{
	padding:20px;
	font-weight: bold;
}
.profileSidebar a:hover{
	background-color:#995C05;
	color:#fff;
}
.profileSidebar a.active{
	color:#fff;
	border-radius: 10px 0 0 0;
}
.profileSidebar a:last-child.active{
	border-radius: 10px 0 0 0
}
.resultsSection{
  display:flex;
  flex-direction: column;  
  width:100%;
}
.profileResults.active{
  display: flex;	
}
.profileResults{
  display: none;
	padding:25px;
}

.profileStory {
  text-align: center;
  margin-bottom:20px;
}