<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js" integrity="sha256-9zljDKpE/mQxmaR4V2cGVaQ7arF3CcXxarvgr7Sj8Uc=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../assets/css/frontierToonsFramework.css">
    <link rel="stylesheet" href="../assets/css/headerFooter.css">
    <link rel="stylesheet" href="../assets/css/popup.css">
    <script src="/assets/js/functions/popups.js"></script>
    <script src="https://kit.fontawesome.com/15b6d67935.js" crossorigin="anonymous"></script>
    <script src="/assets/js/functions/master.js"></script>    
    <script src="/assets/js/functions/UserFunctions.js"></script>        
    <script src="/assets/js/functions/popovers.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>    
    
        <!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1752054');
</script>
    <!-- End MailerLite Universal -->
</head>
<div id="popup" style="display:none"></div>
<body>
    
    {% if hideHeaderFooter == false %}
        {% include 'header.html' %}
    {% endif %}
       {% block content %}
        Default content
        {% endblock %}
    {% if hideHeaderFooter == false %}
        {% include 'footer.html' %}
    {% endif %}
</body>
</html>
