{% extends 'base.index.html' %}

{% block title %}Your Profile Home{% endblock %}
{% block content %}
{% macro findProfileURL(socials, platform) %}
    {% for social in socials %}
        {% if social.platform == platform %}
            {{- social.ProfileURL -}}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as macros %}
<link rel="stylesheet" href="../assets/css/dashboard.css">
<div id="dashboard">
    <div id="dashboardSidebar">
        <div class="dashboardSidebarBtn active" data-target="edit"><i class="fa-light fa-pencil"></i> Edit Profile</div>
        <div class="dashboardSidebarBtn" data-target="subscr"><i class="fa-light fa-hearts"></i> Subscriptions</div>            
        <div class="dashboardSidebarBtn" data-target="uploads"><i class="fa-light fa-folder-arrow-up"></i> Uploads</div>
        <div class="dashboardSidebarBtn" data-target="settings"><i class="fa-light fa-gear"></i> Settings</div>
        <div class="dashboardSidebarBtn" data-target="security"><i class="fa-light fa-user-shield"></i> Security</div>            
        <a href="/"><i class="fa-slab fa-regular fa-arrow-left"></i> Go back to homepage</a>
    </div>
    <div id="dashboardWrapper"> 
        <div id="dashboardHeader">
            <div id="dashboardHeadLeft">
                <div id="dashboardAvatar" onclick="avatarUpload()">
                    <img id="avatarImg" src="/assets/images/profile-images/{{ users.UserID }}/{{ users.Avatar|default('default-avatar.jpg') }}" data-userid="{{ users.UserID }}" alt="User Avatar">
                    <span class="changeAvatar"><i class="fa-solid fa-pencil"></i></span>
                    <input type="file" id="avatarInput" accept="image/*" style="display:none">
                </div>

                <div id="dashboardWelcomeText">
                    <p>Welcome {{ users.FirstName }}!</p>            
                    <small>Last Updated: {{users.LastMod}}</small>
                </div>
            </div>                
            <div id="previewLink" class="dashboardHeadRight">                
                <a id="viewAsGuestLink" :href="'/profile-view/{{users.Username}}'">Preview</a>
                <a class="signoutBtn" href="/logout">Sign Out</a>                
            </div>
        </div>
        <div id="dashboardCoverPhoto" onclick="coverPhotoUpload()">
            <img id="coverPhoto"
                src="/assets/images/cover-photos/{{ users.UserID }}/{{ users.CoverPhoto|default('default-cover.jpg') }}"
                data-userid="{{ users.UserID }}" alt="User Cover Photo">
            <span class="changeCoverPhoto"><i class="fa-solid fa-pencil"></i></span>
            <input type="file" id="coverInput" accept="image/*" style="display:none">
        </div>
        <div id="resultsSection">
                <div id="resultsInnerHead">     
                    <div id="resultsUpdateMsg"></div>                    
                </div>
                <form id="resultsForm" class="dashboardResults active edit" data-userID="{{session.UserID}}"  action="../includes/UserFunctions.php"  method="post">
                        
                    <input type="hidden" name="action"  value="changeData">
                    <input type="hidden" name="userID" value="{{session.UserID}}">
                    <button id="saveAll" class="btn-primary changeDataBtn" data-userID="{{session.UserID}}"  type="button">Update</button>
                    
                    <div class="dashboardResultsColWrap">                                                
                        <div class="dashboardResultsCol">
                            <h3>Main Profile</h3>
                            <div class="inputGroup">
                                <label for="Email">Email:</label>
                                <div class="inputIcons">
                                    <input type="email" name="users[Email]" value="{{users.Email}}" required>
                                </div>
                            </div>
                            <div class="inputGroup">
                                <label for="Website">Personal Website:</label>
                                <div class="inputIcons">
                                    <input type="url" name="profile[Website]" value="{{users.Website}}">
                                </div>
                            </div>
                            <div class="inputGroup">
                                <label for="Patreon">Patreon:</label>
                                <div class="inputIcons">
                                    <input type="url" name="profile[Patreon]" value="{{users.Patreon}}">
                                </div>
                            </div>
                            <div class="inputGroup">
                                <label for="NiceName">Nickname:</label>
                                <div class="inputIcons">
                                    <input type="text" name="profile[NiceName]" value="{{users.NiceName}}" >
                                </div>
                            </div>
                            <div class="inputGroup">
                                <label for="Bio">Bio:</label>
                                <div class="inputIcons">
                                    <textarea name="profile[Bio]" rows="15" cols="100">{{users.Bio}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="dashboardResultsCol">
                            <h3>Social Media</h3>

                            <div class="inputGroup">
                                <label for="Platform">Facebook:</label>
                                <div class="inputIcons">
                                    <input type="hidden" name="socials[0][Platform]" value="Facebook">
                                    <input class="urlValidation" type="url" name="socials[0][ProfileURL]" value="{{ macros.findProfileURL(socials, 'Facebook') }}">
                                </div>
                            </div>

                            <div class="inputGroup">
                                <label for="Platform">X/Twitter:</label>
                                <div class="inputIcons">
                                    <input type="hidden" name="socials[1][Platform]" value="Twitter">
                                    <input class="urlValidation" type="url" name="socials[1][ProfileURL]" value="{{ macros.findProfileURL(socials, 'Twitter') }}">
                                </div>
                            </div>

                            <div class="inputGroup">
                                <label for="Platform">Instagram:</label>
                                <div class="inputIcons">
                                    <input type="hidden" name="socials[2][Platform]" value="Instagram">
                                    <input class="urlValidation" type="url" name="socials[2][ProfileURL]" value="{{ macros.findProfileURL(socials, 'Instagram') }}">
                                </div>
                            </div>

                            <div class="inputGroup">
                                <label for="Platform">YouTube:</label>
                                <div class="inputIcons">
                                    <input type="hidden" name="socials[3][Platform]" value="YouTube">
                                    <input class="urlValidation" type="url" name="socials[3][ProfileURL]" value="{{ macros.findProfileURL(socials, 'YouTube') }}">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            <div class="dashboardResults subscr">
                 <h2>Subscriptions</h2>
                <p>build out subscriptions section</p>
            </div> 
            <div class="dashboardResults uploads">
                <h2>Uploads</h2>        
                <div id="seriesProfileCatalog">
                {% if series != empty%}                    
                    {% for series in series %}
                    <div class="seriesBox">
                        <div class="seriesImage">
                            <img src="assets/images/user-series/{{series.Thumbnail}}" alt="Series Image">
                        </div>                    
                        <div class="seriesTitle">{{series.Title}} <span class="labelRating">{{series.MaturityLabel}} {{series.MaturityRating}}</span></div>
                        {% set status = series.status %}
                        {% if status == 'published' %}
                        <div class="pubDate">Published on {{series.PublishedDate}}</div>
                        <div class="favorite"><i class="fa-solid fa-heart"></i> {{series.Likes}}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <div id="noUploads">
                        No uploads found. <a href="/upload">Ready to publish</a>?
                    </div>
                {% endif %}
                
                </div>
                </div>
            <div class="dashboardResults settings">
                <h2>Profile Settings</h2>
                <p>build out settings section</p>
            </div>
            <div class="dashboardResults security">
                 <h2>Security</h2>
                <div class="passwordChange">
                    <label for="password">Change Password</label>
                    <div class="inputIcons">
                        <input type="text" name="password" data-userID="{{users.UserID}}">
                    </div>
                </div>
                <div class="deleteAccount">
                    If you want to stop adventuring all together, make sure you have all your affairs in order before you stop.
                    <button type="button" class="danger" onclick="deleteAccount()"><i class="fa-slab fa-regular fa-skull-crossbones"></i> Delete Your Account</button>                    
                </div>
            </div> 
        </div>
    </div>
</div>
<script>
    Vue.createApp({
        data() {
            return {
                userName: '{{ users.Username }}'
            };
        }
    }).mount('#previewLink');

    $(function(){
        $('#profileForm').validate({
            onkeyup: function (element) {
                $(element).valid();
            },
            errorPlacement: function (error, element) {
                error.addClass('error-message'); // optional styling class
                error.insertAfter(element); // puts it right after the input
            },
            rules: {
                "users[Email]": { required: true, email: true },
                "profile[Patreon]": { url: true },
                "profile[Website]": { url: true },
                "socials[0][ProfileURL]": { url: true },
                "socials[1][ProfileURL]": { url: true },
                "socials[2][ProfileURL]": { url: true },
                "socials[3][ProfileURL]": { url: true }
            },
            messages: {
                "users[Email]": { required: "Email is required" },
                "profile[Patreon]": { url: "Please enter a valid Patreon URL" },
                "profile[Website]": { url: "Please enter a valid URL" },
                "socials[0][ProfileURL]": { url: "Please enter a valid Facebook URL" },
                "socials[1][ProfileURL]": { url: "Please enter a valid Twitter URL" },
                "socials[2][ProfileURL]": { url: "Please enter a valid Instagram URL" },
                "socials[3][ProfileURL]": { url: "Please enter a valid YouTube URL" }
            }
        });
    })
</script>
{% endblock %}