{% extends 'base.index.html' %}
{% block title %}Your Profile Home{% endblock %}
{% block content %}
<script src="/assets/js/functions/UserFunctions.js"></script>

<div class="profile">
    <div class="profileHeader">
        <div class="profileHeadLeft">
            <div id="profileAvatar" onclick="triggerFilePicker()">
                <img id="dashboardAvatar" 
                    src="/assets/images/user-profile-images/{{ users.userID|hash('user-images-v1') }}/{{ users.avatar|default('default-avatar.jpg') }}" 
                    alt="User Avatar" 
                    data-userid="{{ users.userID }}">
                <span class="changeAvatar"><i class="fa-solid fa-pencil"></i></span>
                <input type="file" id="avatarInput" accept="image/*" style="display: none;" onchange="uploadImage()" />
            </div>
            <div id="profileName">
                <p>Welcome {{ users.firstName }}!</p>            
            </div>
        </div>    
        <div class="profileHeadRight">
            <a id="viewAsGuestLink" href="/profile-view">Preview</a>
            <a href="/logout">Sign Out</a>
        </div>
    </div>

    <div class="profileWrapper">
        <div class="profileSidebar">
            <div class="profileSidebarBtn active">Edit Profile</div>
            <div class="profileSidebarBtn">Subscriptions</div>
            <div class="profileSidebarBtn">Settings</div>
            <div class="profileSidebarBtn">Security</div>
        </div>
        <div class="resultsSection">
                <div class="profileInnerHead">     
                    <div id="profileUpdateMsg"></div>
                    Last Updated: {{users.lastMod}}
                </div>
            <div class="profileResults edit active" data="profileTab">                
                <div class="inputGroup">
                    <label for="email">Email:</label>
                    <div class="inputIcons">
                        <input type="email" name="email" data-userID="{{users.userID}}" value="{{users.email}}">
                        <button class="btn-primary changeDataBtn" onclick="changeData(this)" data-field="email" >Update</button>
                    </div>
                </div>
                <div class="inputGroup">
                    <label for="website">Website:</label>
                    <div class="inputIcons">                        
                        <input type="text" name="website" data-userID="{{users.userID}}" value="{{users.website}}">
                        <button class="btn-primary changeDataBtn" onclick="changeData(this)" data-field="website">Update</button>
                    </div>                        
                </div>                
                <div class="inputGroup"> 
                    <label for="niceName">Nickname:</label>
                    <div class="inputIcons">
                        <input type="text" name="niceName" data-userID="{{users.userID}}" value="{{users.niceName}}">
                        <button class="btn-primary changeDataBtn" onclick="changeData(this)" data-field="niceName">Update</button>          
                    </div>                        
                </div>
                <div class="inputGroup">    
                    <label for="bio">Bio:</label>                       
                    <div class="inputIcons">
                        <textarea name="bio" rows="15" cols="100" data-userID="{{users.userID}}">{{users.bio}}</textarea>
                        <button class="btn-primary changeDataBtn" onclick="changeData(this)" data-field="bio" >Update</button>
                    </div>
                </div>
            </div>
            <div class="profileResults subscr" data="profileTab">
                <p>This is to build out the subscriptions section</p>
            </div> 
            <div class="profileResults settings" data="profileTab">
                <p>This is to build out the settings section</p>
            </div>
            <div class="profileResults security" data="profileTab">
                <div class="deleteAccount">
                    If you want to stop adventuring all together, make sure you have all your affairs in order before you stop.
                    <button type="submit" class="danger" onclick="deleteAccount()">Delete Your Account</button>
            </div>

            </div> 
        </div>
    </div>
</div>
<!-- <pre>
{{dump()}}
</pre> -->
{% endblock %}