<footer>    
    <div id="footerTop">
        <div class="footCol">
            <h2><a href="/">FrontierToons</a></h2>            
        </div>        
        <div class="footCol">            
            <ul class="footLinkList">
                <li class="footerLink"><a href="">About Us</a></li>
                <li class="footerLink"><a href="">Contact Us</a></li>
                <li class="footerLink"><a href="">Terms of Use</a></li>
                <li class="footerLink"><a href="">Privacy Policy</a></li>
                <li class="footerLink"><a href="">Feedback</a></li>
                <li class="footerLink"><a href="">Help</a></li>
            </ul>
        </div>
    </div>
    <div id="copyright">
        &copy; 2025 Benjamin Fuller
    </div>
</footer>