<header>
    <div id="headerWrapper">
        <div id="siteLogo"><a href="/">FrontierToons</a></div>
        <nav id="navigation">
            <ul id="navList">
                <li class="navListLI"><a class="navLink" href="/catalog">Comic Catalog</a></li>
                <li class="navListLI"><a class="navLink" href="#">Adventures</a></li>
                <li class="navListLI"><a class="navLink" href="/register">Become An Author</a></li>                
                <li class="navListLI"><a class="navLink" href="/catalog">Comic Catalog</a></li>
                <li class="navListLI"><a class="navLink" href="#">Blog</a></li>
                <li class="navListLI"><i class="fa-light fa-magnifying-glass"></i> Search</li>
            </ul>
            <ul id="navListRight">
                <li class="navLinkRight"><a class="navLinkBtn" href="/login"><i class="fa-light fa-user-cowboy"></i> Login</a></li>
                <li class="navLinkRight"><a class="navLinkBtn" href="/login"><i class="fa-kit fa-light-user-cowboy-circle-plus"></i> Register</a></li>
                <li class="navLinkRight"></li>
            </ul>
        </nav>
    </div>
</header>