{% extends 'base.index.html' %}
{% block title %}Your webtoon home!{% endblock %}
{% block content %}
    <h1>This is a place for pure imagination!</h1>
    <section class="homeSection">
        <div class="sectionWrap">
            <h2>Popular Reads</h2>

        </div>
        <div class="sectionWrap">
            <h2>Author of The Week</h2>
            
        </div>
        <div class="sectionWrap">
            <h2>Get Noticed!</h2>
            <p class="sectionText">Ready to get yourself seen by the masses? <button class="regularBtn">Get published today!</button></p>
        </div>

    </section>
{% endblock %}