{% extends 'base.index.html' %}
{% block title %}Begin your adventure{% endblock %}
{% block content %}
<style>
.loginBtn{
    font-size:15px;
}
</style>
<link rel="stylesheet" href="../assets/css/login.css">
        {% if error == 'invalid' %}
        <div class="alert alert-danger">
            Invalid username or password.
        </div>
        {% endif %}
<div class="formWrapper">
    <h2>Welcome Back, Adventurer!</h2>
    <p class="formText">Ready to continue your journey? Log in to your account.</p>
    <div class="formLeft">
        <form class="loginForm" method="POST" action="/includes/auth-handler.php">
            <input-group>
                <div class="iconInputs">
                    <i class="fa-slab fa-regular fa-user"></i>
                    <label for="username">Username</label>
                    <input id="username" type="text" name="Username">
                </div>
            </input-group>
            <input-group>
                <div class="iconInputs">
                    <i class="fa-slab fa-regular fa-lock"></i>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="Password">
                </div>
            </input-group>
            <div class="formBottom">
                <button class="loginBtn btn-primary" name="login">Login <i class="fa-regular fa-arrow-right-to-bracket"></i></button>
                <p class="forgotPassword"><a href="/forgot-password">Forgot Password?</a></p>
            </div>
        </form>        
    </div>
    <div class="formText">
        Don't have an account? <a href="/register">Register for one!</a>        
    </div>
</div>
{% endblock %}