{% extends 'base.index.html' %}
{% block title %}Begin your adventure{% endblock %}
{% block content %}
        {% if error == 'invalid' %}
        <div class="alert alert-danger">
            Invalid username or password.
        </div>
        {% endif %}
<div class="formWrapper">
    <h2>Welcome Back Adventurer!</h2>
    <p class="formText">Ready to continue your journey? Log in to your account.</p>
    <div class="formLeft">
        <form class="loginForm" method="POST" action="/includes/auth-handler.php">
            <input-group>
                <label for="username">Username</label>
                <input id="username" type="text" name="username">
            </input-group>
            <input-group>
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
            </input-group>
            <div class="formBottom">
                <button class="submitBtn" name="login">Login</button>
                <p class="forgotPassword"><a href="/forgot-password">Forgot Password?</a></p>
            </div>
        </form>        
    </div>
    <div class="formText">
        Don't have an account? <a href="/register">Register for one!</a>        
    </div>
</div>
{% endblock %}